*.dep
*.ewt
*.d
*.o
*.su
*.s
tools
libsrc
*.i
project/realtek_amebaz2_v0_example/GCC-RELEASE/application_is/*
project/realtek_amebaz2_v0_example/GCC-RELEASE/bootloader/*
project/realtek_amebaz2_v0_example/GCC-RELEASE/lib_main/*
project/realtek_amebaz2_v0_example/GCC-RELEASE/key.json
project/realtek_amebaz2_v0_example/GCC-RELEASE/partition.bin
tools/arm-none-eabi-gcc/asdk/*
