*.dep
*.ewt
*.d
*.o
*.su
*.s
tools
libsrc
*.i
project/realtek_amebaz2_v0_example/GCC-RELEASE/application_is/*
project/realtek_amebaz2_v0_example/GCC-RELEASE/bootloader/*
tools/arm-none-eabi-gcc/asdk/*
